<h1>Welcome to eclassroom management System</h1>
<p><a href="/register">add User</a></p>
<p><a href="/login">user login</a></p>
<p><a href="/logout">user logout</a></p>
<p><a href="/courseAdd">add Course</a></p>
<p><a href="/addChapter">add chapter</a></p>
<p><a href="/completedChapter">update chapter</a></p>
<p><a href="/enrollStudent">enrollStudent</a></p>
<!-- <p></p>
<p></p>
<p></p> -->

<!-- <a href="">add Course</a>
<a href="">add chapter</a>
<a href="">update chapter</a>
<p>Click<a href="">here</a> here to add user</p>
<p>Click <a href="">here</a>here to add course</p>
<p>Click <a href="">here</a> to add chapter</p>
<p>Click <a href="">here</a> to update chapter status</p> -->